.contact__header{
	font-family: $primary-font-family;
	font-size: $font-size-title;
	font-weight: 300;
	line-height: 0.83;
	letter-spacing: 0.9px;
	text-align: center;
	color: #000000;
	margin-bottom: 56px;
}
.contact-us
	form 
		input{
			width: 425px;
			height: 52px;
			border-style: solid;
			border-top: 0;
			border-left: 0;
			border-right: 0;
			border-bottom: 1px solid black;
}
.first{
	display: flex;
	flex-direction: column;
	
}
.contact-us
	form{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}
.inputs{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 42px;
}
.submit{
	display: flex;
	justify-content: space-around;
}
.contact-us__text{
	font-family: $primary-font-family;
	font-size: $font-size-text;
	text-align: center;
	margin-bottom: 56px;
}
.contact-us{
	margin-bottom: 93px;
}