.b-flex__spacebetween{
  display: flex;
  justify-content: space-between;
}

.b-flex__colblock{
  width: $width-three-block;
  flex-direction: column;
}

.b-flex__colblock2{
  width: $width-two-block;
  flex-direction: column;
}

.b-innerblock__title {
  font-weight: $font-weight-bold;
  font-size: $font-size-minititle;
  color: $primary-color-black;
  margin:$margin-title;
  text-align: center;
}

.b-small__text {
  color: $primary-color-dark;
  font-size: $font-size-small;
  line-height:$primary-line-height;
}

.b-wrap__important {
  background: $background-white;
  padding: $primary-padding-block;
  text-align: center;

  .b-important__title {
    @extend.b-block__title;
  }

  .b-important__subtitle{
    @extend.b-block__subtitle;
  }

  .b-important__line {
    @extend.b-title__line;
  }

  .b-reason{
    @extend.b-flex__spacebetween;

    .b-reason__reasoncol{
      @extend.b-flex__spacebetween;
      @extend.b-flex__colblock;
      margin: 0 4.5% 0 0;
      &:last-child{
        margin:0;
      }
      .b-reasoncol__title {
        @extend.b-innerblock__title;
      }

      .b-reasoncol__text {
        @extend.b-small__text;
      }

      .icon-important_ico1 {
        @include sprite($important-ico1);
        margin: 0 auto;

      }
      .icon-important_ico2 {
        @include sprite($important-ico2);
        margin: 0 auto;
      }
      .icon-important_ico3 {
        @include sprite($important-ico3);
        margin: 0 auto;
      }
    }
  }
}


