@mixin btn($width, $height, $font-size, $bg-color, $color, $border, $text-style){
  display: inline-block;
  width: $width;
  height: $height;
  line-height:$height;
  background-color: $bg-color;
  color: $color;
  font-size: $font-size;
  border:$border;
  font-weight: $text-style;
  text-align: center;
  text-decoration: none;
  outline: none;
}

@mixin b-block__title ($font-size, $font-weight, $primary-color, $text-transform){
  font-size: $font-size;
  font-weight:$font-weight;
  color:$primary-color;
  text-transform:$text-transform;
}

@mixin b-block__subtitle ($font-size, $font-weight, $primary-color, $margin){
  font-size: $font-size;
  font-weight:$font-weight;
  color:$primary-color;
  margin:$margin;
}

@mixin b-title__line($height, $color, $margin, $width){
  height: $height;
  background:$color;
  margin:$margin;
  width: $width;
}

@mixin border($height, $style, $color){
  border-top:$height $style $color;
}

@mixin b-block($flex, $width){
  flex-direction: $flex;
  width: $width;
}
