//colors
$primary-color: #f27600;
$primary-color-menu: #f3f3f3;
$primary-color-dark: #767272;
$primary-color-light: #ffffff;
$primary-color-minititle: #2d2d2d;
$primary-color-black: #000000;
$primary-color-light-dark: #827e7e;
$primary-color-turquoise: #40E0D0;
$primary-color-trasparent:transparent;


//font
$primary-font-family:'HelveticaNeueCyr';
$text-upper:uppercase;
$text-notransform:none;
$font-size-headertitle:24px;
$font-size-title:36px;
$font-size-minititle:16px;
$font-size-text:13px;
$primary-line-height:1.3;
$text-line-height:1.5;
$font-size-small:14px;
$font-size-lowsmall:12px;
$font-size-text:12px;
$font-size20:20px;
$font-size60:60px;
$font-size-404: 72px;

//border
$border-box-white:1px solid #ffffff;
$border-box-none:none;

//text-styles
$font-weight-bold:bold;
$font-weight-medium:500;
$font-weight-light:300;
$font-weight-ultralight:200;
$font-style-italic:italic;

//padding, margin
$primary-padding-block:80px 0;
$margin-title: 25px 0;
$margin-price: 10px 0 0 0;
$margin-subtitle: 0px 0 65px 0;
$margin-titleline:20px auto 30px;
$padding15:15px 0;
$title-padding-block:65px 0;

//background blocks
$background-header:url(../img/header_bg.jpg);
$background-wood:url(../img/stylish_bg.jpg);
$background-ecologist:url(../img/ecologist_qoute.png);
$background-404:url(../img/bg_404.jpg);
$background-fp:url(../img/open_bg.jpg);
$background-white:#ffffff;
$background-grey:#f5f5f5;
$background-darkgrey:#ebebeb;
$background-dark:#000000;

//width 1/3 blocks in row
$width-three-block:28.3%;
$width-two-block:40%;
//$width-two-block:40%;
$width_tabslink:75px;
