div.contact-us
	h2 CONTACT US
	p For a broader coverage related to this topic.
	form
		+contact-us("text", "Name")
		+contact-us("email", "Email")
		+contact-us("text", "Message")
		+contact-us("text", "Message")
		+contact-us("submit", , "Send Message")