div.contact-us
	h1 CONTACT US
	p For a broader coverage related to this topic.
	form
		input(type='text' placeholder='Name')
		input(type='email' placeholder='Email')
		input(type='text' placeholder='Message')
		input(type='text' placeholder='Message')
		input(type='submit' value='Send Message')