.wrap
	h2.block__title.block__title--ecologist What our ecologists are saying
	p.block__watchword.block__watchword--ecologist A broader coverage related to this top
	.ecologist__feedback-wrap
		//mixin content(text, image, name, profesion)
			//p(class= "ecologist__feedback-text")= text
			//img= image
			//p= name
			//span= profesion
		//+text.Forests are the dominant terrestrial ecosystem of Earth, and are distributed across the globe. The amount of precipitation and the forest composition)
		p.ecologist__feedback-text Forests are the dominant terrestrial ecosystem of Earth, and are distributed across the globe. The amount of precipitation and the forest composition
		p.ecologist__feedback-img
			img(src='img/ecologist_photo1.png')
		p.ecologist__feedback-name Ann klot
		p.ecologist__feedback-text Administrative definitions are based primarily upon the legal designations of land, and commonly bear no relationship to the vegetation growing on the land.
		p.ecologist__feedback-img
			img(src='img/ecologist_photo2.png')
		p.ecologist__feedback-name John Lino
		p.ecologist__feedback-text A forest is made up of many layers. Starting from the ground level and moving up, the main layers of all forest types are the forest floor.
		p.ecologist__feedback-img
			img(src='img/ecologist_photo3.png')
		p.ecologist__feedback-name John Lino
