.sight-footer
	.footer__links
		- var i = ["icon-soc_fb", "icon-soc_feed", "icon-soc_google", "icon-soc_in", "icon-soc_stumb", "icon-soc_tw", "icon-soc_cirde"];
		for name in i
			a(class= name href="error.html")
	p.footer--text 2011 Company work