.b-inform__formheader
    form.b-formheader(action="#" method="post")
        .b-formheader__formtitle
            p.b-formtitle The
                span.b-formtitle__special games
            p.b-formtitle pre-alpha
        input.b-formheader__input(type="text" placeholder="name")
        input.b-formheader__input(type="email" placeholder="email")
        textarea.b-formheader__input(type="text" placeholder="message")
        button.b-formheader__btn(type="submit" name="formheader-btn" value="Get started")