include ../mixins/_mixins
header
    .b-header__top
        .b-top
            .b-top__logo
                .b-logo
                    img.b-logo__img(src="img/logo.png")
                -var menu=[{title: 'Home', href: 'home'}, {title: 'Contact us', href: 'contacts'}, {title: 'About us', href: 'about-us'}]
                nav.b-headermenu
                    ul
                        each itemName in menu
                            li
                                if itemName.href === currentPage
                                    span.carrent-page= itemName.title
                                else
                                    a(href=itemName.href)= itemName.title
    .b-header__inform
        .b-inform
            .b-inform
                .b-inform__about
                    .b-about
                        img.b-about__img(src="img/logo.png")
                        h2.b-about__slogan
                        .b-about__line
                        p.b-about__text
                        .b-about__btn
                            a.b-btn__load(href="#") download
                block formheader
                    include ../includes/_formheader