//include ../mixins/_mixins
header
    .b-header__top
        .b-top
            .b-top__logo
                .b-logo
                    img.b-logo__img(src="img/logo.png")

                nav
                    ul.b-menu
                        li.b-menu__item
                            a(href="#") home
                        li.b-menu__item
                            a(href="#") about us
                        li.b-menu__item
                            a(href="#") contacts
    .b-header__inform
        .b-inform
            .b-inform
                .b-inform__about
                    .b-about
                        img.b-about__img(src="img/logo.png")
                        h2.b-about__slogan
                        .b-about__line
                        p.b-about__text
                        .b-about__btn
                            a.b-btn__load(href="#") download
                block formheader
                    include ../includes/_formheader