include ../mixins/_mixins
header
    .b-header__top
        .b-top
            .b-top__logo
                .b-logo
                    img.b-logo__img(src="img/logo.png")
            -var menu=[{href: 'Index', title: 'Home'}, {href:'insidepage', title: 'About us'}, {href:'blog', title: 'Blog'}]
            nav.b-headermenu
                ul
                    each item in menu
                        li
                            if item.title.toLowerCase() === currentPage
                                span.current-page= item.title
                            else
                                a(href=item.href.toLowerCase().replace("\ ", "-")+".html")= item.title
    .b-header__inform
        .b-inform
            .b-inform
                .b-inform__about
                    .b-about
                        img.b-about__img(src="img/logo.png")
                        h2.b-about__slogan
                        .b-about__line
                        p.b-about__text
                        .b-about__btn
                            a.b-btn__load(href="#") download
                block formheader
                    include ../includes/_formheader