section.wood-design
	.wrap
		h2.block__title.block__title--wood-design Stylish wood design
		p.block__watchword.block__watchword--wood-design Forests can be classified in different ways and to different degrees of specificity.
		a.btn__download.btn__download--wood-design Download