extends layouts/_layout.pug
block variables
    -var currentPage='blog'
block prepend head
    +head-meta(
    'Blog | Forest'
    )
block main
    .wrap--fp-color
        .wrap
            include includes/_first-person
            a.btn.btn--center(href='#') Downlod
    .wrap--fp-bg
        .wrap
            .wrap--width
                include includes/_first-person
    include includes/_ecologist
    include includes/_wooddesign
    include includes/_contact_us