extends layouts/_layout.pug
block main
    include includes/_important
        +b-reasoncol(
        'img/important_ico1.png',
        'Animals home',
        'Forests account for 75% of the gross primary productivity of the Earths biosphere, and  human activity.'
        )
    include includes/_ecologist
    include includes/_wooddesign
    include includes/_stylish wood design
    include includes/_contact us