extends layouts/_layout.pug
block variables
    -var currentPage='about us'
block prepend head
    +head-meta(
    'Inside Page | Forest'
    )
block main
    .wrap--fp-color
        .wrap
            include includes/_first-person
            a.btn.btn--center(href='#') Downlod
    include includes/_important
    .wrap--fp-color
        .wrap
            include includes/_first-person
            a.btn.btn--center(href='#') Downlod
    include includes/_ecologist
    include includes/_wooddesign
    include includes/_contact_us