extends layouts/_layout.pug
block main
    include includes/_important
    include includes/_ecologist
    include includes/_wooddesign
    include includes/_stylish wood design
    include includes/_contact us