extends layouts/_layout.pug
block variables
    -var currentPage='insidepage'
block main
    include includes/_text-block
    include includes/_important
    include includes/_text-block
    include includes/_ecologist
    include includes/_wooddesign
    include includes/_contact_us