include ../mixins/_mixins
link(rel="stylesheet", href="css/style.min.css")
doctype html
block variables

block head
    +head-meta(
        'Forest',
        'Our first fe project',
        'https://northconstellation.github.io/fe-project/app/'
    )
body
    block header
        include ../includes/_header
    block main
    block footer
        include ../includes/_footer