doctype html
html
    head
        block head
            h1.
                Hello
    body
        block main
            case friends
                when 0
                    p you have 0 friends
                when 1
                    p you have 1 friends
                default
                    p you have 5 friends


            section.list
                ul
                    li 1
                    li 2
                    li 3

    footer
        block b-container__footer
                b-footer
                    h2.
                        mycopyright

        block append footerScripts
            script.
                    $(document).ready(function(){})