@charset "UTF-8";

// Variables;
@import "components/_veriables";

// Fonts
@import "components/_fonts";

// Mixins
@import "components/_mixins";

//Buttons
@import "components/_buttons";

//Header
@import "components/_header";

//Important
@import "components/_important";

//contact us
@import "components/_contact_us";

//footer
@import "components/_footer";

//first person
@import "components/_first-person";

body{
  font-family: 'HelveticaNeueCyr';
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  max-width: 100%
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.clearfix {
  clear: both;
}

.content_middle {
  max-width: 980px;
  padding: 0;
  margin: 0 auto;
}

.content_middlemenu{
  @extend.content_middle;
  max-width: 1200px;
}
