@charset "UTF-8";

// Variables;
@import "components/_veriables";

// Fonts
@import "components/_fonts";

// Mixins
@import "components/_mixins";
@import "components/_sprite";

//Buttons
@import "components/_buttons";

//Header
@import "components/_header";

//tabs
@import "components/_tabs";
//Structure
@import "components/_structure";

//solution
@import "components/_solution";

//Important
@import "components/_important";

//Pricingoption
@import "components/_pricingoption";

//contact us
@import "components/_contact_us";

//footer
@import "components/_footer";

//Ecologist
@import "components/_ecologist";

//Wood_design
@import "components/_wooddesign";
//First_Person
@import "components/_text-block";
//Error 404
@import "components/_error";

body{
  font-family: 'HelveticaNeueCyr';
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
}

img {
  border: 0;
  max-width: 100%
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.clearfix {
  clear: both;
}

.content_middle {
  max-width: 980px;
  padding: 0;
  margin: 0 auto;
  max-width: 290px;
  padding: 0;
  margin: 0 auto;
    @media (min-width: 640px){
      max-width: 600px;
    }
    @media (min-width: 1200px){
    max-width: 1000px;
  }
}

.content_middlemenu{
  @extend.content_middle;
  max-width: 1200px;

  @media (min-width: 640px){
  max-width: 620px;
  }
 @media (min-width: 1200px){
  max-width: 1100px;
  }
}
.b-block__title {
  @include  b-block__title ($font-size-title, $font-weight-light, $primary-color-black, $text-upper);
}

.b-block__subtitle {
  @include  b-block__subtitle ($font-size-small, $font-weight-light, $primary-color-black, $margin-subtitle);
}

.b-title__line {
  @include b-title__line(1px, $primary-color, $margin-titleline, 7%)
}

.block__nodisplay {
  display: none;
}